---
import BaseLayout from '../layouts/BaseLayout.astro';
import { FeaturesSectionWithHoverEffects } from '@/components/Home/key-benefits';
import  HeroSection  from '@/components/Home/heroUpdated';
import {Hero1} from '@/components/blocks/ui/imageonright.tsx';
import {Feature5} from '@/components/blocks/ui/imageonleft.tsx';
import {Cta11} from '@/components/blocks/ui/freedemo.tsx';
import {Achievements} from '@/components/blocks/ui/achievements.tsx';
import {Integration12} from '@/components/blocks/ui/blockkeybenefitsproducts.tsx'
---

<BaseLayout content={{ title: "AI-Powered Automated Proctoring Software | Proview",description:"Embrace innovation in online exams with advanced automated proctoring. Elevate exam integrity, security, and credibility with AI." }}>
  
  <Hero1
    heading="Experience Unbiased Exams with Proview Automated Proctoring"
    description="Secondary Camera-Assisted Automated Proctoring"
    buttons={{
      primary: { text: "Get a Demo", url: "https://www.talview.com/request-a-demo" }
    }}
    image={{
      src: "https://proview.io/hs-fs/hubfs/Product%20pages/AI%20PROCTORING.webp?width=995&height=608&name=AI%20PROCTORING.webp",
      alt: "Automated proctoring dashboard"
    }}
    blue='true'
  />
 

  <Feature5
    title="Real‑Time Monitoring with Secondary Camera"
    description="The secondary camera improves the integrity of remote exams by providing a wider view of the candidate’s surroundings, allowing for quick detection of any potential malpractices."
    imageSrc="https://proview.io/hs-fs/hubfs/Product%20pages/Real%20time%20monitoring.png?width=1302&height=936&name=Real%20time%20monitoring.png"
    imageAlt="Secondary camera setup"
    heading="Why Choose Proview's Automated Proctoring for Online Exams"
  />
  
     <div class="lg:ml-5 xl:ml-5 2xl:ml-5">
  <Hero1
    heading="Verify Test Taker Identity Before the Exam"
    description="Ensure the authenticity of the test taker by using Proview’s advanced face‑to‑photo ID and voice matching features. Proview Automated Proctoring assigns a confidence score, while our two‑factor authentication process limits test access to mitigate malpractice."
    image={{
      src: "https://proview.io/hs-fs/hubfs/Product%20pages/Verify%20Test%20Taker%20Identity%20Before%20the%20Exam.png?width=1301&height=744&name=Verify%20Test%20Taker%20Identity%20Before%20the%20Exam.png",
      alt: "ID verification flow"
    }}
  />
  </div>
  
  <Feature5
    title="Integrity Score"
    description="Obtain a comprehensive integrity score for each test taker within 24 hours of exam completion, providing insights into potential malpractice levels. This score encompasses a complete recording with timestamps, proctor notes, and event logs categorized as low, medium, or high “risk.”"
    imageSrc="https://proview.io/hs-fs/hubfs/Product%20pages/Integrity%20Score.png?width=1332&height=698&name=Integrity%20Score.png"
    imageAlt="Integrity score dashboard"
  />

    <div class="lg:ml-5 xl:ml-5 2xl:ml-5">
  <Hero1
    heading="Seamless Integration with Any Test Engine or LMS"
    description="Easily integrate Proview into your LMS, test engine, or enrollment tool using our user‑friendly features. Our proctoring solution smoothly integrates with various applications—Moodle, Canvas, Google Classroom—and test engines to meet your proctoring needs."
    image={{
      src: "https://proview.io/hs-fs/hubfs/Product%20pages/Seamless%20Integration%20with%20LMS.png?width=1316&height=942&name=Seamless%20Integration%20with%20LMS.png",
      alt: "LMS integration examples"
    }}
  />
  </div>
  <Feature5
    title="Flexibility to Take Exams Anywhere"
    description="Empower your test takers to conveniently take exams from remote locations using desktops, laptops, tablets, and mobile applications. Our iOS app enables proctoring for candidates on any web‑based assessment platform. Additionally, our Proview Proctoring SDK empowers you to incorporate our advanced auto proctoring solution into your Android application."
    imageSrc="https://proview.io/hs-fs/hubfs/Product%20pages/Flexibility%20to%20Take%20Exams%20Anywhere.png?width=1391&height=884&name=Flexibility%20to%20Take%20Exams%20Anywhere.png"
    imageAlt="Taking exam on tablet"
  />
  
 <Achievements/>
  
 <Integration12  title='Key Benefits'  data={[
  {
    icon:'https://proview.io/hubfs/Product%20pages/Enhance%20Exam%20Integrity.svg',
    title:'Enhance Exam Integrity',
    description:'Automated detection and flagging of suspicious candidate behavior.'
  },
   {
    icon:'https://proview.io/hubfs/Product%20pages/Data%20security%20and%20Compliance.svg',
    title:'Data Integrity and Compliance',
    description:'Securely administer online tests globally with our scalable auto proctoring platform.'
  },
    {
    icon:'https://proview.io/hubfs/Product%20pages/Seamless%20%20Integration.svg',
    title:'Seamless Integration',
    description:'Effortlessly integrate proctoring capabilities into your LMS, test engine, or enrollment tool using our plug and play features.'
  },
   {
    icon:'https://proview.io/hubfs/Product%20pages/247%20Support.svg',
    title:'24/7 Support',
    description:'Our award-winning services, implementation, and support teams offer smooth implementation to deliver key business outcomes.'
  }

 ]} />

  

<Cta11  heading="Scale Up Your Exams with Proview's Automated Proctoring." buttons={{
  primary:{
    text:'Try free demo',
    url:'https://www.talview.com/request-a-demo'
  }}
}/>

</BaseLayout>
