---
import BaseLayout from '../layouts/BaseLayout.astro';
import {Hero1} from '@/components/blocks/ui/imageonright.tsx';
import {Feature5} from '@/components/blocks/ui/imageonleft.tsx';
import { Logos3 } from '@/components/logos3';
import {Logos4} from '@/components/blocks/ui/scrolldownlogos.tsx'
import {Integration9} from '@/components/blocks/ui/blockforproctoring.tsx';
import {Cta11} from '@/components/blocks/ui/freedemo.tsx';
import {Achievements} from '@/components/blocks/ui/achievements.tsx';

---

<BaseLayout content={{ title: "AI Proctoring for Exams & Certifications - Proview",description:"Transform training & certification with Proview's online proctoring and AI proctoring. Elevate engagement and scalability." }}>
  
  <Hero1
    heading="Transform Certification Experience with AI+Human Proctoring by Proview"
    description="Enhance learning with Proview's scalable proctoring. Boost engagement and credibility in training and certification programs."
    buttons={{
      primary: { text: "Get a Demo", url: "/signup" }
    }}
    image={{
      src: "/Logos/certhero.png",
      alt: "Automated proctoring dashboard"
    }}
    blue=true
  /> 
   <Logos4 heading ='Our Trusted Customers' logos={
   [ {
      id: "logo-1",
      description: "Logo 1",
      image: "/Logos/logo1foruniv.png",
       className: "h-auto w-auto "
    },
    {
      id: "logo-2",
      description: "Logo 2",
      image: "/Logos/logo2foruniv.png",
      className: "h-auto w-auto ",
    },
    {
      id: "logo-3",
      description: "Logo 3",
      image: "/Logos/logo3foruniv.png",
      className: "h-auto w-auto ",
    },
    {
      id: "logo-4",
      description: "Logo 4",
      image: "/Logos/logo4foruniv.png",
      className: "h-auto w-auto ",
    },
    {
      id: "logo-5",
      description: "Logo 5",
      image: "/Logos/logo5foruniv.png",
      className: "h-auto w-auto ",
    },
     {
       id: "logo-6",
       description: "Logo 6",
       image: "/Logos/logo6foruniv.png",
       className: "h-auto w-auto",
     }]
  } />

 <Feature5  title='Scale your training and certification programs' description ='Our AI-powered proctoring technology enables organizations to conduct assessments and certifications remotely, eliminating the need for physical infrastructure. This allows for a larger number of participants to take exams simultaneously, ensuring scalability.' imageSrc={'/Logos/solutions1.png'} imageAlt={'Certification Picture'}  heading='Proview for Training and Certification Exams' />
  <div class="lg:ml-1.5 xl:ml-1.5 2xl:ml-1.5">
 <Hero1 heading ='Overcome standardization hurdles' description='Proview provides customizable features that allow organizations to align content, assessment criteria, and evaluation methods consistently across different programs. This ensures that certifications maintain a high level of standardization, credibility and comparability.' image={{src:'/Logos/solutions2.png',alt:'certification image'}}/>
   </div>
  <Feature5  title='Seamless technology adoption' description ='Proview simplifies technology adoption for training and certification programs. Our platform is designed to be user-friendly, making it easy for both trainers and participants to navigate and utilize the proctoring features. We provide comprehensive support and training to ensure a smooth transition to our technology.' imageSrc={'/Logos/rounded_cropped_image_3.png'} imageAlt={'Certification Picture'}/>
 <div class="lg:ml-1.5 xl:ml-1.5 2xl:ml-1.5">
 <Hero1 heading ='Easy Integration and Multi-Device Support' description='Proview auto proctoring offers easy integrations with plug & play capability for your test engine. Enjoy multi-device support and low bandwidth compatibility (128-512Kbps), ensuring smooth and accessible assessments.' image={{src:'/Logos/solutions-person.png',alt:'certification image'}}/>
    </div>
  <Feature5  title='Improve learner engagement' description ='Proview provides a non-intrusive experience to candidates, employing 100% automated proctoring for a convenient assessment. Interactive features like live proctoring, chat support, and real-time monitoring create an engaging and supportive environment for participants.' imageSrc={'/Logos/solutions7.png'} imageAlt={'Certification Picture'}/>
    
 <Achievements/>
 <Integration9
  title="Key Benefits"
  data={[
    {
      title: 'Multi-Device Support',
      icon: '/Logos/computer.svg'
    },
    {
      title: 'Protect Exam Integrity',
      icon: '/Logos/edit-file.svg'
    },
    {
      title: 'Data Privacy and Compliance',
      icon: '/Logos/lock.svg'
    },
    {
      title: 'Talview Secure Browser',
      icon: '/Logos/shield.svg'
    }
  ]}
/>

<Cta11
  heading="Scale Up Your Exams with Talview's Live Proctoring."
  buttons={{
    primary: {
      text: 'Try free demo',
      url: 'https://www.talview.com/request-a-demo'
    }
  }}
/>

</BaseLayout>
