---
import BaseLayout from '../layouts/BaseLayout.astro';
import { FeaturesSectionWithHoverEffects } from '@/components/Home/key-benefits';
import  HeroSection  from '@/components/Home/heroUpdated';
import {Hero1} from '@/components/blocks/ui/imageonright.tsx';
import {Feature5} from '@/components/blocks/ui/imageonleft.tsx';
import {Cta11} from '@/components/blocks/ui/freedemo.tsx';
import {Achievements} from '@/components/blocks/ui/achievements.tsx';
import {Integration12} from '@/components/blocks/ui/blockkeybenefitsproducts.tsx'
---

<BaseLayout content={{ title: "Remote Proctoring Software with Record & Review",description:"Ensure exam integrity with Proview's Remote Proctoring: Record & Review. Trained proctors easily validate flagged events post-exam for thorough evaluation." }}>
  
  <Hero1
    heading="Elevate Exam Security with Record and Review Proctoring"
    description="Your trusted partner in fortifying online assessment integrity with post session review"
    buttons={{
      primary: { text: "Get a Demo", url: "/signup" }
    }}
    image={{
      src: "/Logos/recohero.webp",
      alt: "Automated proctoring dashboard"
    }}
    blue={true};
  />
  
  
  <Feature5
    title="Verify Test Taker Identity Before the Exam"
    description="Ensure the authenticity of test taker by using Proview's advanced face-to-photo ID and voice matching features. Proview Automated Proctoring assigns a confidence score, while our two-factor authentication process limits test access to mitigate malpractice."
    imageSrc="/Logos/rec1.webp"
    imageAlt="image.png"
    heading='Overview of Proview Record and Review Proctoring Features'
  />

  <div class="lg:ml-8 xl:ml-8 2xl:ml-8">
  <Hero1
    heading="Real-Time Monitoring with Secondary Camera"
    description="The secondary camera improves the integrity of remote exams by providing a wider view of the candidate's surroundings, allowing for quick detection of any potential malpractices."
    image={{
      src: "/Logos/rec2.webp",
      alt: "ID verification flow"
    }}
  />
 </div>
 
  <Feature5
    title="Post-Session Exam Review"
    description="Our highly qualified proctors, who have been meticulously selected and trained, prioritize the integrity, security, and privacy of exams. Following the completion of the assessment, certification, or exam, our proctors conduct a thorough review of all event flags, reconfirm the test taker's identity, and ensure the exam's integrity is maintained."
    imageSrc="/Logos/rec3.webp"
    imageAlt="Integrity score dashboard"
  />

  <div class="lg:ml-8 xl:ml-8 2xl:ml-8">
  <Hero1
    heading="Detailed Integrity Score Report"
    description="Within 24 hours of the exam's completion, a comprehensive integrity score report is provided for each test taker, highlighting the potential level of malpractice. The report includes an end-to-end recording with accurate time-stamps, as well as event logs categorized as low, medium, or high risk."
    image={{
      src: "/Logos/rec4.webp",
      alt: "LMS integration examples"
    }}
  />
 </div>
   <div class="lg:ml-8 xl:ml-8 2xl:ml-8">
  <Feature5
    title="Securely Store Exam Recordings for Audit and Compliance"
    description="Regardless of the exam's level of importance, all proctored exam sessions are recorded and securely stored, ensuring their availability for future audits or compliance purposes."
    imageSrc="/Logos/rec5.webp"
    imageAlt="Taking exam on tablet"
  />
  </div>
   <Achievements/>
 
  
 <Integration12  title='Key Benefits'  data={[
  {
    icon:'/Logos/web.svg',
    title:'Enhance Exam Integrity',
    description:'Automated detection and flagging of suspicious candidate behavior.'
  },
   {
    icon:'/Logos/security.svg',
    title:'Data Integrity and Compliance',
    description:'Securely administer online tests globally with our scalable auto proctoring platform.'
  },
    {
    icon:'/Logos/integration.svg',
    title:'Seamless Integration',
    description:'Effortlessly integrate proctoring capabilities into your LMS, test engine, or enrollment tool using our plug and play features.'
  },
   {
    icon:'/Logos/24-7.svg',
    title:'24/7 Support',
    description:'Our award-winning services, implementation, and support teams offer smooth implementation to deliver key business outcomes.'
  }

 ]} />

  
  <Cta11  heading="Scale Up Your Exams with Proview's AI Powered Proctoring." buttons={{
    primary:{
    text:'Try free demo',
    url:'https://www.talview.com/request-a-demo'
  }}
}/>
</BaseLayout>
