---
import BaseLayout from '../layouts/BaseLayout.astro';
import {Hero1} from '@/components/blocks/ui/imageonright.tsx';
import {Feature5} from '@/components/blocks/ui/imageonleft.tsx';
import { Logos3 } from '@/components/logos3';
import {Logos4} from '@/components/blocks/ui/scrolldownlogos.tsx'
import {Integration9} from '@/components/blocks/ui/blockforproctoring.tsx';
import {Achievements} from '@/components/blocks/ui/achievements.tsx';
import {Cta11} from '@/components/blocks/ui/freedemo.tsx';
---

<BaseLayout content={{ title: "Online proctoring software solution for University Exams",description:"Ensure exam integrity and scalability with Proview's AI-powered remote proctoring solutions, designed for efficient, accessible online assessments." }}>
  {/* Hero */}
  <Hero1
    heading="Proctoring Solution for University Exams"
    description="Proview ensures exam integrity, scalability, flexibility and exceptional support to create a seamless experience for exam administrators and students."
    buttons={{
      primary: { text: "Get a Demo", url: "/signup" }
    }}
    image={{
      src: "https://proview.io/hs-fs/hubfs/Solution%20page/Banner-2.webp?width=1476&height=912&name=Banner-2.webp",
      alt: "Automated proctoring dashboard"
    }}
    blue=true;
  /> 
  <Logos4 heading ='Our Trusted Customers' logos={
   [ {
      id: "logo-1",
      description: "Logo 1",
      image: "https://proview.io/hs-fs/hubfs/Solution%20page/nus.png?width=273&height=153&name=nus.png",
      className: "h-7 w-auto",
    },
    {
      id: "logo-2",
      description: "Logo 2",
      image: "https://proview.io/hs-fs/hubfs/Solution%20page/segi.png?width=273&height=153&name=segi.png",
      className: "h-7 w-auto",
    },
    {
      id: "logo-3",
      description: "Logo 3",
      image: "https://proview.io/hs-fs/hubfs/Solution%20page/eastern.png?width=275&height=153&name=eastern.png",
      className: "h-7 w-auto",
    },
    {
      id: "logo-4",
      description: "Logo 4",
      image: "https://proview.io/hs-fs/hubfs/Solution%20page/staffordshire.png?width=275&height=153&name=staffordshire.png",
      className: "h-7 w-auto",
    },
    {
      id: "logo-5",
      description: "Logo 5",
      image: "https://proview.io/hs-fs/hubfs/Solution%20page/SP.png?width=275&height=153&name=SP.png",
      className: "h-7 w-auto",
    },
     {
       id: "logo-6",
       description: "Logo 6",
       image: "https://proview.io/hs-fs/hubfs/Solution%20page/matc.png?width=273&height=153&name=matc.png",
       className: "h-7 w-auto",
     }]
  } />
  <div class="lg:ml-11 xl:ml-11 2xl:ml-11">
 <Feature5  title='Secure Online Exams' description ='Proview ensures exam authenticity with AI-powered remote proctoring. Multiple layers of authentication and fraud detection techniques detect suspicious behavior, safeguarding the exam integrity.' imageSrc={'https://proview.io/hs-fs/hubfs/Solution%20page/Ensure%20assessment%20validity%20and%20reliability.webp?width=1232&height=822&name=Ensure%20assessment%20validity%20and%20reliability.webp'} imageAlt={'Certification Picture'} heading='Proview Proctoring Solutions for University Exam Success'/>
 </div>
 <Hero1 heading ='Scale Assessments Effortlessly' description='Proview enables efficient scaling of exams with automated proctoring. Conduct exams simultaneously for large student cohorts, saving time and resources without compromising exam quality.' image={{src:'https://proview.io/hs-fs/hubfs/Solution%20page/1_4.webp?width=1232&height=822&name=1_4.webp',alt:'certification image'}}/>
 <div class="lg:ml-11 xl:ml-11 2xl:ml-11">
  <Feature5  title='Distance Learning Made Easy' description ='Proview’s exam solution supports remote assessments from any location. AI-powered proctoring ensures a secure environment, enabling universities to provide online courses with flexibility.' imageSrc={'https://proview.io/hs-fs/hubfs/Solution%20page/Enhance%20security%20and%20prevent%20cheating.webp?width=1232&height=822&name=Enhance%20security%20and%20prevent%20cheating.webp'} imageAlt={'Certification Picture'}/>
 </div>
 <Hero1 heading ='Save Time and Costs' description='Streamline exams with our auto proctoring solutions. Automated proctoring reduces manual effort, saving time along with reduced infrastructure and proctoring costs.' image={{src:'https://proview.io/hs-fs/hubfs/Solution%20page/1_4-1.webp?width=1232&height=822&name=1_4-1.webp',alt:'certification image'}}/>
  <div class="lg:ml-11 xl:ml-11 2xl:ml-11">
  <Feature5  title='Accessibility and Inclusivity' description ='Our platform prioritizes accessibility. Modern, multi-lingual, and accessible interfaces cater to diverse student needs including those with disabilities or language barriers, fostering equal opportunities and inclusivity in exams' imageSrc={'https://proview.io/hs-fs/hubfs/Solution%20page/Customization%20and%20flexibility%20for%20unique%20assessment%20needs%20.webp?width=1232&height=822&name=Customization%20and%20flexibility%20for%20unique%20assessment%20needs%20.webp'} imageAlt={'Certification Picture'}/>
  </div>
   <Achievements/>
 <Integration9
  title="Key Benefits"
  data={[
    {
      title: 'Multi-Device Support',
      icon: 'https://proview.io/hubfs/Solution%20page/Multi-Device%20%20Support.svg'
    },
    {
      title: 'Protect Exam Integrity',
      icon: 'https://proview.io/hubfs/Solution%20page/Protect%20Exam%20Integrity.svg'
    },
    {
      title: 'Data Privacy and Compliance',
      icon: 'https://proview.io/hubfs/Solution%20page/Data%20Privacy%20%20and%20Compliance.svg'
    },
    {
      title: 'Talview Secure Browser',
      icon: 'https://proview.io/hubfs/Solution%20page/Talview%20Secure%20%20Browser.svg'
    }
  ]}
/>

<Cta11
  heading="Scale Up Your Exams with Talview's Live Proctoring."
  buttons={{
    primary: {
      text: 'Try free demo',
      url: 'https://www.talview.com/request-a-demo'
    }
  }}
/>

  
</BaseLayout>
