---
import BaseLayout from '../layouts/BaseLayout.astro';
import {Hero1} from '@/components/blocks/ui/imageonright.tsx';
import {Feature5} from '@/components/blocks/ui/imageonleft.tsx';
import { Logos3 } from '@/components/logos3';
import {Logos4} from '@/components/blocks/ui/scrolldownlogos.tsx'
import {Integration9} from '@/components/blocks/ui/blockforproctoring.tsx';
import {Achievements} from '@/components/blocks/ui/achievements.tsx';
import {Cta11} from '@/components/blocks/ui/freedemo.tsx';
---

<BaseLayout content={{ title: "Online proctoring software solution for University Exams",description:"Ensure exam integrity and scalability with Proview's AI-powered remote proctoring solutions, designed for efficient, accessible online assessments." }}>
  {/* Hero */}
  <Hero1
    heading="Proctoring Solution for University Exams"
    description="Proview ensures exam integrity, scalability, flexibility and exceptional support to create a seamless experience for exam administrators and students."
    buttons={{
      primary: { text: "Get a Demo", url: "/signup" }
    }}
    image={{
      src: "/Logos/rounded_cropped_image_5.png",
      alt: "Automated proctoring dashboard"
    }}
    blue=true;
  /> 
     <Logos4 heading ='Our Trusted Customers' logos={
   [ {
      id: "logo-1",
      description: "Logo 1",
      image: "/Logos/logo1foruniv.png",
       className: "h-auto w-auto "
    },
    {
      id: "logo-2",
      description: "Logo 2",
      image: "/Logos/logo2foruniv.png",
      className: "h-auto w-auto ",
    },
    {
      id: "logo-3",
      description: "Logo 3",
      image: "/Logos/logo3foruniv.png",
      className: "h-auto w-auto ",
    },
    {
      id: "logo-4",
      description: "Logo 4",
      image: "/Logos/logo4foruniv.png",
      className: "h-auto w-auto ",
    },
    {
      id: "logo-5",
      description: "Logo 5",
      image: "/Logos/logo5foruniv.png",
      className: "h-auto w-auto ",
    },
     {
       id: "logo-6",
       description: "Logo 6",
       image: "/Logos/logo6foruniv.png",
       className: "h-auto w-auto",
     }]
  } />
 
 <Feature5  title='Secure Online Exams' description ='Proview ensures exam authenticity with AI-powered remote proctoring. Multiple layers of authentication and fraud detection techniques detect suspicious behavior, safeguarding the exam integrity.' imageSrc={'/Logos/solutions.png'} imageAlt={'Certification Picture'} heading='Proview Proctoring Solutions for University Exam Success'/>
 <div class="lg:ml-1.5 xl:ml-1.5 2xl:ml-1.5">
 <Hero1 heading ='Scale Assessments Effortlessly' description='Proview enables efficient scaling of exams with automated proctoring. Conduct exams simultaneously for large student cohorts, saving time and resources without compromising exam quality.' image={{src:'/Logos/classroom_basic_transparency.png',alt:'certification image'}}/>
 </div>
  <Feature5  title='Distance Learning Made Easy' description ='Proview’s exam solution supports remote assessments from any location. AI-powered proctoring ensures a secure environment, enabling universities to provide online courses with flexibility.' imageSrc={'/Logos/rounded_cropped_image_4.png'} imageAlt={'Certification Picture'}/>
 <div class="lg:ml-1.5 xl:ml-1.5 2xl:ml-1.5">
 <Hero1 heading ='Save Time and Costs' description='Streamline exams with our auto proctoring solutions. Automated proctoring reduces manual effort, saving time along with reduced infrastructure and proctoring costs.' image={{src:'/Logos/rounded_cropped_image_6.png',alt:'certification image'}}/>
  </div>
  <Feature5  title='Accessibility and Inclusivity' description ='Our platform prioritizes accessibility. Modern, multi-lingual, and accessible interfaces cater to diverse student needs including those with disabilities or language barriers, fostering equal opportunities and inclusivity in exams' imageSrc={'/Logos/rounded_cropped_image_3.png'} imageAlt={'Certification Picture'}/>
 
   <Achievements/>
<Integration9
  title="Key Benefits"
  data={[
    {
      title: 'Multi-Device Support',
      icon: '/Logos/computer.svg'
    },
    {
      title: 'Protect Exam Integrity',
      icon: '/Logos/edit-file.svg'
    },
    {
      title: 'Data Privacy and Compliance',
      icon: '/Logos/lock.svg'
    },
    {
      title: 'Talview Secure Browser',
      icon: '/Logos/shield.svg'
    }
  ]}
/>

<Cta11
  heading="Scale Up Your Exams with Talview's Live Proctoring."
  buttons={{
    primary: {
      text: 'Try free demo',
      url: 'https://www.talview.com/request-a-demo'
    }
  }}
/>

  
</BaseLayout>
